.header {
    order: -1;
    @include background-edge-gradiant($color-dark);
    color: $color-highlight;
    font-family: "Roboto", sans-serif;
    text-align: center;
    flex: 0 0 auto;
    svg {
      width:25%;
      height: auto;
      margin-bottom:-4px;
      min-width:300px;
      max-width:400px;
    }
  }