@import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");

@import './reset';
@import './color-library';
@import './animations';
@import './mixins';

@import '../assets/logo/scss/logo';

@import '../packages/header/scss/header';
@import '../packages/content/scss/content';
@import '../packages/footer/scss/footer';
@import '../packages/questionsection/scss/question-section';
@import '../packages/submitbutton/scss/submit-button';





html,
body,
#root {
  margin: 0;
  color: $color-dark;
  @include background-edge-gradiant($color-highlight);
  font-family: Roboto;
  height: 100%;
  min-width:325px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

p {
  margin: 0;
}






