
@mixin jagged-line-background {
    background-repeat: no-repeat;
    background-position: 85% 0%;
    background-size: 100px;
    //background-image: url(../assets/images/jagged-strip.svg);
    animation-name: backgroundSlideLeft;
    -webkit-animation-name: backgroundSlideLeft;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }

  @mixin background-edge-gradiant($color){
    background: linear-gradient(to right, darken($color, 7%),$color,$color,$color,$color,$color,darken($color, 7%));
 
  }