@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

.App-header {
  background-color: #333333;
  color:#6AC5A9;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vmin;
}

